@media screen and (max-width: 1770px) and (max-height: 890px)
{
    .date1{
        height: 70%;
    }
    .date2{
        height: 70%;
    }
    .experience h1{
        font-size: 21px;
    }
    .date1 h3{
        font-size: 20px;
    }
    .date2 h3{
        font-size: 20px;
    }
    .info1{
        width: 40%;
    }
    .info2{
        width: 40%;
    }
    .liste1 li{
        margin-left: 45px;
        font-size: 17px;
        line-height: 15px;
    }
    .liste2 li{
        margin-left: 45px;
        font-size: 17px;
        line-height: 15px;
    }
    .supp1 p{
        margin-top: -35px;
        line-height: 22px;
        font-size: 15px;
    }
    .supp2 p{
        margin-top: -35px;
        line-height: 22px;
        font-size: 15px;
    }
    .qualites h1{
        margin-left: -10px;
    }
    .competences h1{
        margin-left: -10px;
    }
}