*
{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.90);
}
a:link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.938);
}
a:visited{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.986);
}
/*  ---------------------------------------------------  footer  ------------------------------------------------------------*/

.footer{
    height: 30vh;
    font-family: 'nav';
}

.nav_footer{
    display: flex;
    justify-content: center;

    padding-top: 2%;

    color: rgb(240, 240, 240);
    font-size: 19px;
}

.sp{
    display: block;
    width: 25%;
    height: 1px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.info_footer{
    width: 33%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    font-size: 11px;
    letter-spacing: 2px;
    color: white;
}

.socials{
    display: block;
    text-align: center;

    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
}

.socials img{
    width: 26px;
    margin-left: 1%;

    transition-duration: 0.7s;
}

.socials img:hover{
    scale: 1.3;
}

.utilisateur{
    position: relative;
    width: 1px;
    left: 53%;
    top: -28px;
    color: #ae9f6a;
    opacity: 0;
    scale: 0.5;
    transition-duration: 0.6s;
}
.utilisateur span{
    font-family: "logo";
}
                                 /* @Query à ajouter ici */
#discord:hover .utilisateur{
    opacity: 1;
    scale: 1;
    top: -30px;
    left: 55%;
}


.copyright{

    text-align: center;

    font-size: 11px;
    letter-spacing: 1px;
    color: white;
}

.copyright{
    font-family: "logo";
}
/*  ---------------------------------------------------  INDEX  ------------------------------------------------------------*/
.navbar{
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-color: rgb(25, 25, 25);
    height: 80px;

    font-family: 'nav';
    color: rgb(240, 240, 240);
    font-size: 20px;

    z-index: 30;

    animation-name: nav;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.7s;
}

@keyframes nav {
    0%{
        top: -80px;
    }
    100%{
        top: 0px;
    }
}

#logo{
    font-family: 'logo';
    font-size: 35px;
    letter-spacing: 4px;

    margin-left: 3%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}
#home{
    margin-left: 70px;
    margin-top: auto;
    margin-bottom: auto;
    
    transition-duration: 0.3s;
}
#home:hover{
    transform: rotate(360deg);
    color: #ae9f6a;
}

#about{
    margin-left: 70px;
    margin-top: auto;
    margin-bottom: auto;

    transition-duration: 0.3s;
}
#about:hover{
    transform: rotate(360deg);
    color: #ae9f6a;
}
#project{
    margin-left: 70px;
    margin-top: auto;
    margin-bottom: auto;

    transition-duration: 0.3s;
}
#project:hover{
    transform: rotate(360deg);
    color: #ae9f6a;
}
#cv{
    margin-left: 70px;
    margin-top: auto;
    margin-bottom: auto;

    transition-duration: 0.3s;
}
#cv:hover{
    transform: rotate(360deg);
    color: #ae9f6a;
}
#contact{
    margin-left: 70px;
    margin-right: 3%;
    margin-top: auto;
    margin-bottom: auto;

    transition-duration: 0.3s;
}
#contact:hover{
    transform: rotate(360deg);
    color: #ae9f6a;
}

/*  ---------------------------------------------------  INDEX  ------------------------------------------------------------*/

.welcome{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;


    height: 500px;
    margin-top: 3%;

    color: white;
    font-family: 'text';

    animation-name: welcome;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}

@keyframes welcome{
    0%{
        top: -490px;
    }
    100%{
        top: 0px;
    }
}


.titre h2{
    margin-right: 475px;

    font-size: 60px;
    letter-spacing: 4px;
}
.titre h4{
    margin-right: 290px;

    font-size: 44px;
    letter-spacing: 4px;
    font-weight: bold;
}
.titre h1{
    margin-bottom: 5px;
    margin-right: 60px;

    font-size: 85px;
    letter-spacing: 4px;
}

.description p{
    width: 800px;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;

}

.redirection1{
    width: 9%;
    height: 35px;
    border: 0;
    border-radius: 12px;
    background-color: #070200d2;
    margin-right: 200px;

    cursor: pointer;

    color: #eee;
    font-size: 18px;

    transition-duration: 0.6s;
}

.redirection2{
    width: 9%;
    height: 35px;
    border: 0;
    border-radius: 12px;
    background-color: #070200d2;
    margin-top: -35px;
    margin-left: 200px;

    cursor: pointer;

    color: #eee;
    font-size: 18px;

    transition-duration: 0.6s;
}

.redirection1:hover{
    width: 10%;
    border-radius: 20px;
    background-color: #070200ea;

    font-size: 20px;

}
.redirection2:hover{
    width: 10%;
    border-radius: 20px;
    background-color: #070200ea;

    font-size: 20px;

}


/*  ---------------------------------------------------  PROJECT  ------------------------------------------------------------*/

.background_project{
    background-image: url('../images/O9IY3T0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 1px;
    height: 90vh;
    padding-top: 5px;

    animation-name: lumiere;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2.2s;
}

@keyframes lumiere{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}

.container_project{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
    background-color: #1c1c1c1f;

    width: 96%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    border-radius: 15px;
}

/* -------------------------- première partie -------------------------- */

.child_project_1{
    position: relative;

    width: 20%;
    height: 80vh;
    margin-bottom: 1%;
    border-radius: 15px;
    margin-right: -28%;

    border: solid 2px #0000008f;

    background-image: url(../images/1.jpg);

    animation-name: projet1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;

    transition-duration: 0.7s;
}
@keyframes projet1{
    0%{
        left: -50%;
    }
    100%{
        left: 0px;
    }
}
.child_project_1:hover{
    transform: scale(1.1)
}
.child_project_1:hover .project_background_1{
    opacity: 1;
}
.project_background_1{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.6);
    opacity: 0;
    transition-duration: 0.7s;
}

.project_background_1 img{
    display: block;

    width: 30%;
    margin: auto;
    padding-top: 75%;
}

/* -------------------------- deuxième partie -------------------------- */

.child_project_2{
    position: relative;

    width: 20%;
    height: 80vh;
    margin-bottom: 1%;
    border-radius: 15px;

    border: solid 2px #0000008f;

    background-image: url(../images/1.jpg);

    animation-name: projet2;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;

    transition-duration: 0.7s;
}
@keyframes projet2{
    0%{
        right: -50%;
    }
    100%{
        right: 0px;
    }
}
.child_project_2:hover{
    transform: scale(1.1)
}
.child_project_2:hover .project_background_2{
    opacity: 1;
}
.project_background_2{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.6);
    opacity: 0;
    transition-duration: 0.7s;
 
}
.project_background_2 img{
    display: block;

    width: 30%;
    margin: auto;
    padding-top: 75%;
}
