*
{
    margin: 0;
    padding: 0;
}

body{
    background-color: #202020;
}
a:link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.938);
}
a:visited{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.986);
}
/*  ---------------------------------------------------  footer  ------------------------------------------------------------*/

.footer{
    height: 30vh;

    background-color: rgb(32, 32, 32);

    font-family: 'nav';
}

.nav_footer{
    display: flex;
    justify-content: center;

    padding-top: 2%;

    color: rgb(240, 240, 240);
    font-size: 19px;
}

.sp{
    display: block;
    width: 25%;
    height: 1px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.info_footer{
    width: 33%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    font-size: 11px;
    letter-spacing: 2px;
    color: white;
}

.info_footer span{
    font-family: Source Sans Pro,sans-serif;
}

.socials{
    display: block;
    text-align: center;

    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
}

.socials img{
    width: 26px;
    margin-left: 1%;

    transition-duration: 0.7s;
}

.socials img:hover{
    scale: 1.3;
}

.utilisateur{
    position: relative;
    width: 1px;
    left: 53%;
    top: -28px;
    color: #ae9f6a;
    opacity: 0;
    scale: 0.5;
    transition-duration: 0.6s;
}
.utilisateur span{
    font-family: "logo";
}
                                 /* @Query à ajouter ici */
#discord:hover .utilisateur{
    opacity: 1;
    scale: 1;
    top: -30px;
    left: 55%;
}


.copyright{

    text-align: center;

    font-size: 11px;
    letter-spacing: 1px;
    color: white;
}

.copyright{
    font-family: "logo";
}
/*  ---------------------------------------------------  NAV  ------------------------------------------------------------*/
.navbar{
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-color: #202020;
    height: 80px;

    font-family: 'nav';
    color: rgb(240, 240, 240);
    font-size: 20px;

    z-index: 30;

    animation-name: nav;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.7s;
}

@keyframes nav {
    0%{
        top: -80px;
    }
    100%{
        top: 0px;
    }
}

#logo{
    font-family: 'logo';
    font-size: 35px;
    letter-spacing: 4px;

    margin-left: 3%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}
#home{
    margin-left: 70px;
    margin-top: auto;
    margin-bottom: auto;
    
    transition-duration: 0.3s;
}
#home:hover{
    transform: rotate(360deg);
    color: #ae9f6a;
}

#about{
    margin-left: 70px;
    margin-top: auto;
    margin-bottom: auto;

    transition-duration: 0.3s;
}
#about:hover{
    transform: rotate(360deg);
    color: #ae9f6a;
}
#project{
    margin-left: 70px;
    margin-top: auto;
    margin-bottom: auto;

    transition-duration: 0.3s;
}
#project:hover{
    transform: rotate(360deg);
    color: #ae9f6a;
}
#cv{
    margin-left: 70px;
    margin-top: auto;
    margin-bottom: auto;

    transition-duration: 0.3s;
}
#cv:hover{
    transform: rotate(360deg);
    color: #ae9f6a;
}
#contact{
    margin-left: 70px;
    margin-right: 3%;
    margin-top: auto;
    margin-bottom: auto;

    transition-duration: 0.3s;
}
#contact:hover{
    transform: rotate(360deg);
    color: #ae9f6a;
}

/*  ---------------------------------------------------  INDEX  ------------------------------------------------------------*/

.welcome{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;


    height: 500px;
    margin-top: 3%;

    color: white;
    font-family: 'text';

    animation-name: welcome;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}

@keyframes welcome{
    0%{
        top: -490px;
    }
    100%{
        top: 0px;
    }
}


.titre h2{
    margin-right: 475px;

    font-size: 60px;
    letter-spacing: 4px;
}
.titre h4{
    margin-right: 290px;

    font-size: 44px;
    letter-spacing: 4px;
    font-weight: bold;
}
.titre h1{
    margin-bottom: 5px;
    margin-right: 60px;

    font-size: 85px;
    letter-spacing: 4px;
}

.description p{
    width: 800px;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;

}

.redirection1{
    width: 9%;
    height: 35px;
    border: 0;
    border-radius: 12px;
    background-color: #070200d2;
    margin-right: 200px;

    cursor: pointer;

    color: #eee;
    font-size: 18px;

    transition-duration: 0.6s;
}

.redirection2{
    width: 9%;
    height: 35px;
    border: 0;
    border-radius: 12px;
    background-color: #070200d2;
    margin-top: -35px;
    margin-left: 200px;

    cursor: pointer;

    color: #eee;
    font-size: 18px;

    transition-duration: 0.6s;
}

.redirection1:hover{
    width: 10%;
    border-radius: 20px;
    background-color: #070200ea;

    font-size: 20px;

}
.redirection2:hover{
    width: 10%;
    border-radius: 20px;
    background-color: #070200ea;

    font-size: 20px;

}


/*  ---------------------------------------------------  PROJECT  ------------------------------------------------------------*/

.background_project{
    background-image: url('../images/O9IY3T0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 1px;
    height: 90vh;
    padding-top: 5px;

    animation-name: lumiere;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2.2s;
}

@keyframes lumiere{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}

.container_project{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
    background-color: #1c1c1c1f;

    width: 96%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    border-radius: 15px;
}

/* -------------------------- première partie -------------------------- */

.child_project_1{
    position: relative;

    width: 20%;
    height: 80vh;
    margin-bottom: 1%;
    border-radius: 15px;
    margin-right: -28%;

    border: solid 2px #0000008f;

    background-image: url(../images/screen1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    animation-name: projet1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;

    transition-duration: 0.7s;
}
@keyframes projet1{
    0%{
        left: -50%;
    }
    100%{
        left: 0px;
    }
}
.child_project_1:hover{
    transform: scale(1.1)
}
.child_project_1:hover .project_background_1{
    opacity: 1;
}
.project_background_1{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.6);
    
    font-family: 'nav';
    text-align: center;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);

    opacity: 0;
    
    transition-duration: 0.7s;
}

.project_background_1 img{
    display: block;

    width: 30%;
    margin: auto;
    padding-top: 35%;
}

.project_background_1 h1{
    padding-top: 35px;
}

.project_background_1 h2{
    width: 70%;
    padding-top: 55px;

    font-size: 18px;
    letter-spacing: 4px;
    color: #ae9f6a;
}

.project_background_1 span{
    font-family: 'logo';
}

/* -------------------------- deuxième partie -------------------------- */

.child_project_2{
    position: relative;

    width: 20%;
    height: 80vh;
    margin-bottom: 1%;
    border-radius: 15px;

    border: solid 2px #0000008f;

    background-image: url(../images/screen2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    animation-name: projet2;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;

    transition-duration: 0.7s;
}
@keyframes projet2{
    0%{
        right: -50%;
    }
    100%{
        right: 0px;
    }
}
.child_project_2:hover{
    transform: scale(1.1)
}
.child_project_2:hover .project_background_2{
    opacity: 1;
}
.project_background_2{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.6);
    
    font-family: 'nav';
    text-align: center;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);

    opacity: 0;

    transition-duration: 0.7s;
}
.project_background_2 img{
    display: block;

    width: 30%;
    margin: auto;
    padding-top: 35%;
}

.project_background_2 h1{
    padding-top: 35px;
}

.project_background_2 h2{
    width: 80%;
    padding-top: 55px;

    font-size: 18px;
    letter-spacing: 4px;
    color: #ae9f6a;
}

.project_background_2 span{
    font-family: 'logo';
}

/*  ---------------------------------------------------  C.V  ------------------------------------------------------------*/

.container_cv{
    padding-top: 1px;
    padding-bottom: 1px;

    background-color: #3c3c3ca6;
}

.little_container_cv{
    display: flex;

    width: 98%;
    height: 870px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;

    background-color:#202020f0 ;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.71)
}

.experience{
    width: 50%;
    margin-left: 15px;

    font-family: 'nav';
    color: white;
    letter-spacing: 2px;
}

.experience h1{
    width: 60%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    border-radius: 30px;

    text-align: center;
    font-size: 30px;
    line-height: 35px;
}

.little_exp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 80%;
    margin-top: 40px;

}

.little_exp span{
    font-family: Century Gothic;
}

.exp1{
    display: flex;
    flex-direction: column;

    width: 45%;
    height: 100%;
    border-radius: 20px;
    border: solid 2px #1a1a1a;
    background-color: #2f2f2f;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.37);
}


.date1{
    width: 65%;
    height: 53%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px white;
}

.date1 h3{
    margin-top: 30px;

    text-align: center;
    font-size: 26px;
    color: #ae9f6a;
}

.date1 h2{
    margin-top: 10px;

    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}


.info1{
    width: 28%;
    height: 26%;
    margin-top: 25px;
    margin-left: 10px;
}

.info1 h3{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}

.info1 h4{
    margin-top: 10px;

    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}

.liste1{
    width: 100%;
    height: 100%;
}

.liste1 li{
    margin-top: 5px;
    margin-left: 70px;
    padding-top: 25px;

    font-size: 19px;
    line-height: 25px;
}

.liste1 span{
    font-family: 'nav';
    color: #ae9f6a;
}

.supp1{
    width: 100%;
    height: 100%;
}

.supp1 p{
    margin-left: 20px;

    font-family: Source Sans Pro,sans-serif;
    text-align: center;
    line-height: 25px
}

.supp1 a{ 
    text-decoration: underline;
    color: #ae9f6a;
    
}

.supp1 span{
    color: #ae9f6a;
}

.exp2{
    display: flex;
    flex-direction: column;

    width: 45%;
    height: 100%;
    border-radius: 20px;
    border: solid 2px #1a1a1a;
    background-color: #2f2f2f;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.37);
}

.date2{
    width: 65%;
    height: 53%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px white;
}

.date2 h3{
    margin-top: 30px;

    text-align: center;
    font-size: 26px;
    color: #ae9f6a;
}

.date2 h2{
    margin-top: 10px;

    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}


.info2{
    width: 28%;
    height: 26%;
    margin-top: 25px;
    margin-left: 10px;
}

.info2 h3{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}

.info2 h4{
    margin-top: 10px;

    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}

.liste2{
    width: 100%;
    height: 100%;
}

.liste2 li{
    margin-top: 5px;
    margin-left: 70px;
    padding-top: 25px;

    font-size: 19px;
    line-height: 25px;
}

.liste2 span{
    font-family: 'nav';
    color: #ae9f6a;
}

.supp2{
    width: 100%;
    height: 100%;
}

.supp2 p{
    margin-left: 20px;

    font-family: Source Sans Pro,sans-serif;
    text-align: center;
    line-height: 25px
}

.supp2 a{
    text-decoration: underline; 
    color: #ae9f6a;
}

.supp2 span{
    color: #ae9f6a;
}

.sp_1{
    width: 1px;
    background-color: #151515;
}

.tomy{
    display: flex;
    flex-direction: column;

    width: 50%;

    font-family: 'text';
    color: white;
    letter-spacing: 2px;

}

.coordonne{
    margin-top: 15px;
    margin-left: 15px;
}

.coordonne span{
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: lighter;
    color: #ae9f6a;
}

.coordonne h1{
    margin-left: 65px;
    font-size: 51px;
}

.coordonne h3{
    margin-top: 12px;
    margin-left: 305px;
}

.permis{
    width: 143px;
    height: 38px;
    margin-top: 60px;
    margin-left: 30px;

}

.info_permis{
    width: 91px;
    height: 23px;
    margin-left: 38px;
    padding-top: 11px;
    padding-left: 9px;
    border-radius: 25px;
    border-top: none;
    border: solid 2px #4c7bc3;
    background-color: white;


    font-family: Bahnschrift;
    font-weight: lighter;
    text-align: center;
    font-size: 13px;
    color: black;
}

.info_permis span{
    color: green;
}

.image_permis{
    position: relative;

    width: 140px;
    height: 90px;
    margin-top: -74px;
    margin-left: 20px;

    background-image: url('../images/AdobeStock_374951602.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transition-duration: 0.6s;

    z-index: 10;
}

.permis:hover .image_permis{
    margin-top: -97px;
}

.ecole{
    width: 120px;
    height: 65px;
    margin-top: -58px;
    margin-left: 185px;

    background-image: url('../images/Réseau_E2C_France_\(logo_2019\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact1-pic {
    width: 470px;
    margin-left: 47%;
    margin-top: -100px;
}
  
.contact1-pic img {
    margin-top: -140px;
    margin-bottom: 20px;
    max-width: 100%;
}

.qualites{
    display: flex;
    justify-content: space-around;

    width: 96%;
    height: 24%;
    margin-left: 17px;
    border-radius: 15px;
    border: solid 2px #1a1a1a;
    background-color: #2f2f2f;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.37);
}

.qualites h1{
    width: 100%;
    height: 16%;
    padding-top: 5px;
    margin-top: -19px;
    margin-left: -85px;
    border-radius: 30px;
    background-color: #202020f0;
    box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.62);

    font-family: 'nav';
    text-align: center;
    font-size: 20px;

}

.qualites h3{
    margin-top: 15px;
    margin-left: -30px;

    font-size: 17px;
}

.competences{
    display: flex;
    justify-content: space-around;

    width: 96%;
    height: 24%;
    margin-top: 100px;
    margin-left: 17px;
    border-radius: 15px;
    border: solid 2px #1a1a1a;
    background-color: #2f2f2f;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.37);
}

.competences h1{
    width: 115%;
    height: 16%;
    padding-top: 5px;
    margin-top: -19px;
    margin-left: -100px;
    border-radius: 30px;
    background-color: #202020f0;
    box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.62);

    font-family: 'nav';
    text-align: center;
    font-size: 20px;

}

.competences h3{
    margin-top: 15px;
    margin-left: -30px;

    font-size: 17px;
}

.perseverance{
    width: 195px;
    height: 15px;
    margin-top: 7px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 2px #0f0d0d;
}

.slide_perseverance{
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background-color: #202020;

    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    color: #ae9f6a;

    animation-name: sp;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}

@keyframes sp{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}


.curiosite{
    width: 195px;
    height: 15px;
    margin-top: 7px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 2px #0f0d0d;
}

.slide_cursiosite{
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background-color: #202020;

    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    color: #ae9f6a;

    animation-name: scu;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes scu{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.minutieux{
    width: 195px;
    height: 15px;
    margin-top: 7px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 2px #0f0d0d;
}

.slide_minutieux{
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background-color: #202020;

    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    color: #ae9f6a;

    animation-name: sm;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
}

@keyframes sm{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.logique{
    width: 195px;
    height: 15px;
    margin-top: 7px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 2px #0f0d0d;
}

.slide_logique{
    width: 75%;
    height: 15px;
    border-radius: 5px;
    background-color: #202020;

    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    color: #ae9f6a;

    animation-name: sl;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.2s;
}

@keyframes sl{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

.autonomme{
    width: 195px;
    height: 15px;
    margin-top: 7px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 2px #0f0d0d;
}

.slide_autonomme{
    width: 70%;
    height: 15px;
    border-radius: 5px;
    background-color: #202020;

    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    color: #ae9f6a;

    animation-name: sa;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.1s;
}

@keyframes sa{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.ecoute{
    width: 195px;
    height: 15px;
    margin-top: 7px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 2px #0f0d0d;
}

.slide_ecoute{
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background-color: #202020;

    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    color: #ae9f6a;

    animation-name: se;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}

@keyframes se{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.html{
    width: 195px;
    height: 15px;
    margin-top: 7px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 2px #0f0d0d;
}

.slide_html{
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background-color: #202020;

    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    color: #ae9f6a;

    animation-name: sh;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.3s;
}

@keyframes sh{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

.css{
    width: 195px;
    height: 15px;
    margin-top: 7px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 2px #0f0d0d;
}

.slide_css{
    width: 85%;
    height: 15px;
    border-radius: 5px;
    background-color: #202020;

    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    color: #ae9f6a;

    animation-name: sc;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}

@keyframes sc{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}

.js{
    width: 195px;
    height: 15px;
    margin-top: 7px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 2px #0f0d0d;
}

.slide_js{
    width: 16%;
    height: 15px;
    border-radius: 5px;
    background-color: #202020;

    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    color: #ae9f6a;

    animation-name: sj;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}

@keyframes sj{
    0%{
        width: 0%;
    }
    100%{
        width: 16%;
    }
}

.php{
    width: 195px;
    height: 15px;
    margin-top: 7px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 2px #0f0d0d;
}

.slide_php{
    width: 20%;
    height: 15px;
    border-radius: 5px;
    background-color: #202020;

    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    color: #ae9f6a;

    animation-name: sphp;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}

@keyframes sphp{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}

.word{
    width: 195px;
    height: 15px;
    margin-top: 7px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 2px #0f0d0d;
}

.slide_word{
    width: 75%;
    height: 15px;
    border-radius: 5px;
    background-color: #202020;

    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    color: #ae9f6a;

    animation-name: sw;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}

@keyframes sw{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}